[Unit]
Description=VARS Annotation Service (Annosaurus)
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=2
Restart=always
ExecStartPre=-/usr/bin/docker stop annosaurus
ExecStartPre=-/usr/bin/docker rm annosaurus
ExecStart=/usr/bin/docker run --name=annosaurus -p 8100:8080  hohonuuli/annosaurus
ExecStop=-/usr/bin/docker stop annosaurus

[Install]
WantedBy=multi-user.target